<app-header></app-header>

<ion-content>
  <div class="form-container">
    <div class="card">
      <div class="card-header">
        <h2>Prendre rendez-vous</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="rdvForm" (ngSubmit)="onBookAppointment()">
          <div class="form-group">
            <label for="time">Heure:</label>
            <input type="time" id="time" formControlName="time" class="form-control">
            <div *ngIf="rdvForm.controls['time'].hasError('invalidTime') && rdvForm.controls['time'].touched" class="error">
              L'heure sélectionnée n'est pas valide.
            </div>
          </div>
          <div class="form-group">
            <label for="address">Adresse:</label>
            <input type="text" id="address" formControlName="address" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!rdvForm.valid">Prendre rendez-vous</button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
