<app-header></app-header>

<section id="1">
  <div class="flex">
    <div class="flex_g">
      <div class="text">
        <h1>
         Votre agence Domiclean - Pour redonner vie à votre bien à Rouen
        </h1>
      </div>
    </div>
    <div class="flex_d">
      <div class="modal-card">
        <h2>Service Client</h2>
        <h3>06 51 70 98 94</h3>
        <p>Contactez nous</p>
        <div class="service-hours">
          <div class="service-hour">
            <p>Lundi au vendredi</p>
            <p>7h - 20h30</p>
          </div>
          <div class="service-hour">
            <p>Samedi</p>
            <p>8h45 - 18h</p>
          </div>
          <div class="service-hour">
            <p>Dimanche et jours fériés</p>
            <p>10h - 18h</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="2">
  <div class="grand_flex">
    <div class="flex-wrap">
      <div class="titre">
        <div class="text">
          <h1>Les services proposés par votre agence</h1>
        </div>
      </div>
      <div class="service">
        <div class="Garde_enfants">
          <div class="pContainer">
            <div class="icon">
              <!-- icon -->
            </div>
            <div class="pTitre">
              <h3>Garde d'enfants</h3>
            </div>
          </div>
        </div>
        <div class="Aide_personnes">
          <div class="pContainer">
            <div class="icon">
              <!-- icon -->
            </div>
            <div class="pTitre">
              <h3>Aide aux personnes âgées</h3>
            </div>
          </div>
        </div>
        <div class="Accompagnement">
          <div class="pContainer">
            <div class="icon">
              <!-- icon -->
            </div>
            <div class="pTitre">
              <h3>Accompagnement du handicap</h3>
            </div>
          </div>
        </div>
        <div class="menage_domicile">
          <div class="pContainer">
            <div class="icon">
              <!-- icon -->
            </div>
            <div class="pTitre">
              <h3>Ménage à domicile</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>
