<ion-content>
  <div class="form-container">
    <div class="card">
      <div class="card-header">
        <h2>Ajouter une disponibilité</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="availabilityForm" (ngSubmit)="onAddAvailability()">
          <div class="form-group">
            <label for="availabilityDate">Date:</label>
            <input type="date" id="availabilityDate" formControlName="availabilityDate" class="form-control">
          </div>
          <div class="form-group">
            <label for="availabilityTime">Heure:</label>
            <input type="time" id="availabilityTime" formControlName="availabilityTime" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!availabilityForm.valid">Ajouter la disponibilité</button>
        </form>
      </div>
    </div>
  </div>
</ion-content>

