<!--<app-header></app-header>-->

<div class="dashboard-container">
  <app-sidebar-dashboard></app-sidebar-dashboard>
  <div class="main-content">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header">
              <h6>Liste de rendez-vous</h6>
            </div>
            <div class="card-body">
              <div class="appointments-list" *ngIf="appointments.length > 0">
                <div *ngFor="let appointment of appointments" class="appointment-item">
                  <p>Date: {{ appointment.date | date: 'mediumDate' }}</p>
                  <p>Heure: {{ appointment.time }}</p>
                  <p>Service: {{ appointment.service_name }}</p>
                  <p *ngIf="userRole === 'pro'"><strong>Particulier:</strong> {{ appointment.clientName }}</p>
                  <p *ngIf="userRole === 'client'"><strong>Professionnel:</strong> {{ appointment.proName }}</p>
                  <p>Description: {{ appointment.description }}</p>
                </div>
              </div>
              <div *ngIf="appointments.length === 0">
                <p>Pas de rendez-vous trouvés.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--<app-sidebar-dashboard></app-sidebar-dashboard>-->


<!--<app-footer></app-footer>-->
