<ion-content>
  <section>
    <footer class="container">
      <hr class="line-footer">
      <div class="row social">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pl-0">
          <span class="h4 my-0">Retrouvez nous aussi sur les réseaux sociaux</span>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 d-flex align-items-center px-0">
          <ul class="list-inline list-unstyled">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/O2careservices/" title="Facebook - O2 Care Services (Nouvelle fenêtre)" target="_blank">
                        <span aria-hidden="true" class="o2icon o2icon-facebook">

                        </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/o2servicesalapersonne/" title="Instagram - O2 Care Services (Nouvelle fenêtre)" target="_blank">
                        <span aria-hidden="true" class="o2icon o2icon-instagram">

                        </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/o2careservices" title="Twitter - O2 Care Services (Nouvelle fenêtre)" target="_blank">
                        <span aria-hidden="true" class="o2icon o2icon-twitter">

                        </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.youtube.com/channel/UCnJwqj1JFF_oRdExTZ7pHnA" title="Youtube - O2 Care Services (Nouvelle fenêtre)" target="_blank">
                        <span aria-hidden="true" class="o2icon o2icon-youtube">

                        </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="line-footer">
      <div class="row mt-4" id="footer-accordion">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pl-0">
          <div class="bloc-info">
            <span class="d-block h4 text-primary mb-2">O<span class="o2-lbl">2</span> vous accompagne</span>
            <ul class="list-unstyled links-footer" role="menu">
              <li role="menuitem"><a href="https://www.o2.fr/pourquoi-choisir-o2" target="_self" class="text-decoration-none">Pourquoi choisir O<span class="o2-lbl">2</span> ?</a></li>
              <li role="menuitem"><a href="https://www.o2.fr/tarifs" target="_self" class="text-decoration-none">Tarifs</a></li>
              <li role="menuitem"><a href="https://www.o2.fr/agences" target="_self" class="text-decoration-none">Nos agences</a></li>
              <li role="menuitem"><a href="https://www.o2.fr/faq" target="_self" class="text-decoration-none">FAQ</a></li>
              <li role="menuitem"><a href="https://www.o2.fr/nous-contacter" target="_self" class="text-decoration-none">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pl-0">
          <div class="bloc-info">
            <span class="d-block h4 text-primary mb-2">L'entreprise</span>
            <ul class="list-unstyled links-footer" role="menu">
              <li role="menuitem"><a href="https://www.o2recrute.fr" target="_blank" class="text-decoration-none">O<span class="o2-lbl">2</span> recrute</a></li>
              <li role="menuitem"><a href="https://o2-franchise.fr" target="_blank" class="text-decoration-none">Devenir franchisé</a></li>
              <li role="menuitem"><a href="https://ouicare.com/fr/accueil/" target="_blank" class="text-decoration-none">Le groupe OUI CARE</a></li>
              <li role="menuitem"><a href="https://www.o2.fr/espace-presse" target="_self" class="text-decoration-none">Presse</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pl-0">
          <div class="bloc-info">
            <span class="d-block h4 text-primary mb-2">Informations légales</span>
            <ul class="list-unstyled links-footer" role="menu">
              <li role="menuitem"><a href="https://www.o2.fr/protection-donnees" target="_self" class="text-decoration-none">Protection des données</a></li>
              <li role="menuitem"><a href="https://www.o2.fr/mentions-legales" target="_self" class="text-decoration-none">Mentions légales</a></li>
              <li role="menuitem"><a href="https://www.o2.fr/accessibilite" target="_self" class="text-decoration-none">Accessibilité</a></li>
              <li role="menuitem"><a href="https://www.o2.fr/plan-du-site" target="_self" class="text-decoration-none">Plan du site</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="bloc-info">
            <div class="d-flex align-items-center">
              <a href="https://www.o2.fr" class="logo">
                <img src="https://www.o2.fr/themes/custom/o2/assets/images/svg/o2.svg" alt="O2">
              </a>
              <p class="text-dark text-tiny m-0">Réduction de 50 % du montant des services réalisés dans la limite des dépenses engagées, selon l'article 199 sexdecies du Code général des impôts, sous réserve de modification de la législation et sous réserve de l'agrément simple ou qualité.</p>
            </div>
            <p class="text-dark text-tiny">* Tarifs et conditions selon agence prestataire et selon services fournis.</p>
          </div>
        </div>
      </div>
    </footer>
  </section>
</ion-content>
