<app-header></app-header>

<ion-content>
  <div class="form-container">
    <div class="card">
      <div class="card-header">
        <h2>Professionnels disponibles</h2>
      </div>
      <div class="card-body">
        <div class="form-group" *ngFor="let pro of pros">
          <p>{{ pro.nom }} {{ pro.prenom }}</p>
          <p>Disponibilités: {{ pro.date }} de {{ pro.start_time }} à {{ pro.end_time }}</p>
          <button class="btn btn-primary" (click)="onSelectPro(pro.id)">
            Choisir ce professionnel
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>


